<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>


; Deployment .htaccess file for Edms
; Options -Indexes
; RewriteEngine On

; # บอกให้รู้ว่า Base Path ของเราคือ /edms (ใช่ครับ ใส่เหมือนกัน)
; RewriteBase /edms/

; RewriteCond %{REQUEST_FILENAME} !-f
; RewriteCond %{REQUEST_FILENAME} !-d
; RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]